<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="ArtifactoryUnix" value="https://agora.dequecloud.com/artifactory/api/nuget/devtools-nuget/" />
 </packageSources>
    <packageSourceCredentials>
    <ArtifactoryUnix>
        <add key="Username" value="pydiraju.rotta@deque.com" />
        <add key="ClearTextPassword" value="AKCp8nGFTuemiJ5H6mkDPwijtWFzLDEfWd1bGuf4eDCWiPs7UCAyNF4c6tzwVhyQDotjCJHPX" />
    </ArtifactoryUnix>
  </packageSourceCredentials>
</configuration>
